name: Continuous Integration (Build, Test, Lint) 

env:
  CI: true
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN_CI }}
  SLACK_CHANNEL: 'ci-failures'
  REPO_NAME: ${{ github.repository }}
  REPO_URL: ${{ github.event.repository.html_url }}
  PULL_REQUEST_URL: ${{ github.event.pull_request.html_url }}
  PULL_REQUEST_TITLE: ${{ github.event.pull_request.title }}
  SOURCE_BRANCH: ${{ github.event.before }}
  TARGET_BRANCH: ${{ github.event.after }}
  TRIGGERED_BY: ${{ github.actor }}

on:
  workflow_dispatch:
  pull_request:
  
jobs:
  continuous-integration:
    name: Continuous Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
        
      - name: Get commit info
        id: get-commit-info
        run: |
          FULL_NAME=$(git show -s --format='%an' ${{ github.sha }})
          COMMIT_INFO=$(git log -1 --pretty=format:'%h %ae' $GITHUB_SHA)
          COMMIT_SHA=$(echo $COMMIT_INFO | awk '{print $1}')
          COMMIT_EMAIL=$(echo $COMMIT_INFO | awk '{print $2}')
          echo $COMMIT_SHA
          echo ${{ github.sha }}
          echo "commit-sha=${COMMIT_SHA}" >> $GITHUB_OUTPUT
          echo "full-name=${FULL_NAME}" >> $GITHUB_OUTPUT

      - name: Get user profile URL
        id: user_profile_url
        run: |
          pr_url="https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.number }}"
          response=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" ${pr_url})
          user_url=$(echo "$response" | jq -r '.user.url')
          echo ${pr_url}
          echo ${{ github.event.pull_request.html_url }}
          echo "user_profile_url=${user_url}" >> $GITHUB_OUTPUT

      - name: Setup message function
        id: slack-message
        run: |
          function generate_message() {
            local message="{\
                \"channel\": \"$SLACK_CHANNEL\",\
                \"text\": \"<!here>\\n\ 
                Continuous integration failure triggered by \
                <${{ steps.user_profile_url.outputs.user_profile_url }}|${{steps.get-commit-info.outputs.full-name}}>\\n\
                Repository: <$REPO_URL|$REPO_NAME>\\n\
                Pull Request: <$PULL_REQUEST_URL|$PULL_REQUEST_TITLE>\\n\
                Commit: <$REPO_URL/commit/$COMMIT_SHA|$COMMIT_SHA>\\n\
                Reason: $1\"\
            }"
            echo $message
          }
          echo "message-issue-build=$(generate_message "Build failed")" >> $GITHUB_OUTPUT
          echo "message-issue-test=$(generate_message "Unit tests broken")" >> $GITHUB_OUTPUT
          echo "message-issue-quality=$(generate_message "Code quality issues")" >> $GITHUB_OUTPUT
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v2.0.0
        with:
          dotnet-version: 6.0.x

      - name: Build dotnet code
        run: |
          dotnet restore
          dotnet build --no-restore --configuration Release
          
      - name: Notify Slack on build failure
        if: ${{ failure() }}
        run: |
          curl --location --request POST \
          --header "Authorization: Bearer ${{ secrets.SLACK_BOT_TOKEN }}" \
          --header "Content-type: application/json; charset=utf-8" \
          --data-raw '${{ steps.slack-message.outputs.message-issue-build }}' \
          https://slack.com/api/chat.postMessage
          
#      - name: Run unit tests
#        run: |
#          dotnet test
#
#      - name: Notify Slack on unit test failure
#        if: ${{ failure() }}
#        run: |
#          curl -X POST \
#          -H 'Authorization: Bearer $SLACK_BOT_TOKEN' \
#          -H 'Content-type: application/json' \
#          --data '$(generate_message "Unit tests broken")' \
#          https://slack.com/api/chat.postMessage?channel=$SLACK_CHANNEL
#      
#      - name: Code Quality Analysis
#        uses: JetBrains/qodana-action@main
#        env:
#          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
#        with:
#          args: --baseline,qodana.sarif.json
#
#      - name: Notify Slack on code quality failure
#        if: ${{ failure() }}
#        run: |
#          curl -X POST \
#          -H 'Authorization: Bearer $SLACK_BOT_TOKEN' \
#          -H 'Content-type: application/json' \
#          --data '$(generate_message "Code quality issues")' \
#          https://slack.com/api/chat.postMessage?channel=$SLACK_CHANNEL
